<form enctype="multipart/form-data" method="post" class="form form-inline"
      action="{{ path('deposits_upload') }}">
    <div class="form-group">
        <input name="csv_file" type="file" class="form-control"/>
        <button type="submit" class="btn btn-outline-primary">Upload</button>
    </div>
</form>
