security:
    # https://symfony.com/doc/current/security.html#registering-the-user-hashing-passwords
    password_hashers:
        Symfony\Component\Security\Core\User\PasswordAuthenticatedUserInterface: 'auto'

    # https://symfony.com/doc/current/security.html#loading-the-user-the-user-provider
    providers:
        database_users:
            entity:
                class: App\Entity\User
                property: email
    firewalls:
        dev:
            pattern: ^/(_(profiler|wdt)|css|images|js)/
            security: false
        main:
            lazy: true
            switch_user: true

            entry_point: App\Security\LoginFormAuthenticator

            custom_authenticators:
                - App\Security\LoginFormAuthenticator
                - App\Security\GoogleIdentityAuthenticator

            form_login:
                login_path: login
                check_path: login

            logout:
                path: /logout
                target: /

            remember_me:
                secret: '%kernel.secret%'
                path: /
                always_remember_me: true
                name: KUKUREMEMBERME

    # Note: Only the *first* matching rule is applied
    access_control:
        - { path: ^/admin, roles: ROLE_ADMIN }
    # - { path: ^/profile, roles: ROLE_USER }
    role_hierarchy:
        ROLE_ADMIN: [ ROLE_ALLOWED_TO_SWITCH, ROLE_CASHIER ]
    #        ROLE_SUPER_ADMIN: [ROLE_ADMIN, ROLE_ALLOWED_TO_SWITCH]
    hide_user_not_found: false

when@test:
    security:
        password_hashers:
            # Password hashers are resource-intensive by design to ensure security.
            # In tests, it's safe to reduce their cost to improve performance.
            Symfony\Component\Security\Core\User\PasswordAuthenticatedUserInterface:
                algorithm: auto
                cost: 4 # Lowest possible value for bcrypt
                time_cost: 3 # Lowest possible value for argon
                memory_cost: 10 # Lowest possible value for argon
