parameters:
	ignoreErrors:
		-
			message: '#^Property App\\Entity\\Contract\:\:\$id \(int\|null\) is never assigned int so it can be removed from the property type\.$#'
			identifier: property.unusedType
			count: 1
			path: src/Entity/Contract.php

		-
			message: '#^Property App\\Entity\\Deposit\:\:\$id \(int\|null\) is never assigned int so it can be removed from the property type\.$#'
			identifier: property.unusedType
			count: 1
			path: src/Entity/Deposit.php

		-
			message: '#^Property App\\Entity\\PaymentMethod\:\:\$id \(int\|null\) is never assigned int so it can be removed from the property type\.$#'
			identifier: property.unusedType
			count: 1
			path: src/Entity/PaymentMethod.php

		-
			message: '#^Property App\\Entity\\Store\:\:\$userId \(int\|null\) is never assigned null so it can be removed from the property type\.$#'
			identifier: property.unusedType
			count: 1
			path: src/Entity/Store.php
