{{ form_start(form) }}
    {{ form_widget(form) }}
<div class="float-end">
    <button type="submit" class="btn btn-light btn-success">Guardar</button>
    <a class="btn btn-light" href="{{ path('payment-methods') }}">Cancelar</a>
</div>
{{ form_end(form) }}

