{% extends 'base.html.twig' %}

{% block title %} {{ parent() }} - Edit Payment Method{% endblock %}

{% block body %}

    <h2>{{ data.id ? 'Editar Payment method' : 'Nuevo Payment method' }}</h2>

    {{ include('payment-methods/_form.html.twig') }}

{% endblock %}
