{% extends 'base.html.twig' %}

{% block title %} {{ parent() }} - About{% endblock %}

{% block javascripts %}
    {{ parent() }}
    {{ encore_entry_script_tags('js/default/background') }}
{% endblock %}

{% block body %}
    <div class="row">
        <div class="col-12">
            <div class="h-100 p-5 bg-light bg-opacity-50">
                <h1>About</h1>
                <p class="lead">This site is for the clients of the "MiniCC KuKu" - Atacames - Ecuador</p>
            </div>

        </div>
    </div>
{% endblock %}
