{% extends 'base.html.twig' %}

{% block title %} {{ parent() }} - About{% endblock %}

{% block javascripts %}
    {{ parent() }}
    <script type="text/javascript" src="{{ asset('build/js/default/background.js') }}"></script>
{% endblock %}

{% block body %}
    <div class="jumbotron">
        <h1>About</h1>
        <p class="lead">Este sitio es para los clientes del MiniCC KuKu - Atacames - Ecuador</p>
        <p>This site is for the clients of the MiniCC KuKu - Atacames - Ecuador</p>
    </div>
{% endblock %}
