{% extends 'base.html.twig' %}

{% block title %} {{ parent() }} - About{% endblock %}

{% block body %}
    <div class="row" {{ stimulus_controller('background') }}>
        <div class="col-12">
            <div class="h-100 p-5 bg-light bg-opacity-50 text-on-image">
                <h1>About</h1>
                <p class="lead">This site is for the clients of the "MiniCC KuKu" - Atacames - Ecuador</p>
            </div>
        </div>
    </div>
{% endblock %}
