{% extends 'base.html.twig' %}

{% block title %} {{ parent() }} - Contact{% endblock %}

{% block body %}
    <h3>Contact</h3>
    <p>Visit us at Atacames Beach =;)</p>

    <img class="img-responsive" src="{{ asset('build/images/atacames-sunset-4711.jpg') }}"/>

{% endblock %}
