{% extends 'base.html.twig' %}

{% block title %} {{ parent() }} - Contact{% endblock %}

{% block body %}
    <div class="row" {{ stimulus_controller('background') }}>
        <div class="col-12">
            <div class="h-100 p-5 bg-light bg-opacity-50">
                <h1><span class="oi oi-person"></span> Contact</h1>
                <p>Visit us at Atacames Beach</p>
                <code>=;)</code>
            </div>
        </div>
    </div>
{% endblock %}
