{% extends 'base.html.twig' %}

{% block title %} {{ parent() }} - Contact{% endblock %}

{% block javascripts %}
    {{ parent() }}
    <script>
        $('#app-layout').addClass('bg-atacames');
    </script>
{% endblock %}

{% block body %}
    <div class="jumbotron">
        <h1>Contact</h1>
        <p>Visit us at Atacames Beach</p>
        <code>=;)</code>
    </div>
{% endblock %}
