{% extends 'base.html.twig' %}

{% block body %}
    {% if not app.user %}
        <span {{ stimulus_controller('background') }}></span>
    {% else %}
        {% if is_granted('ROLE_CASHIER') %}
            {% include'default/_admin-dashboard.html.twig' %}
        {% elseif app.user %}
            {% include'default/_user-dashboard.html.twig' %}
        {% endif %}
    {% endif %}
{% endblock %}
