{% extends 'base.html.twig' %}

{% block title %} {{ parent() }} - Cobrar alquileres{% endblock %}

{% block body %}
    <h1>Mail Transactions</h1>
    {% if stores is empty %}
        <div class="alert alert-danger">No stores defined</div>
    {% else %}
        <form method="post" action="{{ path('mail_transactions') }}">

            {% include '_/_stores_table.html.twig' %}

            <label>
                <select name="year" id="selYear">
                    {% for year in years %}
                        <option value="{{ year }}">{{ year }}</option>
                    {% endfor %}
                </select>
                Year
            </label>

            <button type="submit" class="btn btn-outline-success">Send mails</button>

        </form>
    {% endif %}
{% endblock %}
