{% import "_macro/stores.twig" as storeUtil %}

{% extends 'base.html.twig' %}

{% block title %} {{ parent() }} - Cobrar alquileres{% endblock %}

{% block body %}
    <h1>Mail Planillas</h1>
    {% if stores is empty %}
        <div class="alert alert-danger">{{ _('No stores defined') }}</div>
    {% else %}
        <form method="post" action="{{ path('planilla-mail') }}">
            {{ storeUtil.table(stores) }}
        </form>
    {% endif %}
{% endblock %}
