{% extends 'base.html.twig' %}

{% block title %} {{ parent() }} - Admin Tasks{% endblock %}

{% block body %}
    <h1>Admin Tasks</h1>

    <div class="row">
        <div class="col-4">

            <div class="card">
                <h5 class="card-header">Documentos</h5>

                <div class="list-group">
                    <a class="list-group-item" href="{{ path('stores-transactions-pdf') }}">Transactions PDF</a>
                </div>
                <form action="{{ path('mail_transactions') }}" method="post">
                    Send all transactions for
                    <label> year
                        <select name="year">
                            {% for i in getCurrentYear()..2010 %}
                                <option>{{ i }}</option>
                            {% endfor %}
                        </select>
                    </label>
                    <button type="submit" class="btn btn-outline-primary">Send</button>

                </form>
                <div class="list-group">
                </div>

            </div>
        </div>
    </div>

{% endblock %}
