//@import "variables";
@import '~bootstrap/scss/bootstrap';

@import '~open-iconic/font/css/open-iconic-bootstrap.css';

html {
  position: relative;
  min-height: 100%;
}
body {
  padding-top: 80px;
  padding-bottom: 40px;
}
.footer {
  position: absolute;
  bottom: 0;
  width: 100%;
}

.amount {
  font-family: monospace;
}

.amount-red {
  color: #bb331c;
}

.table-bordered tbody th.cell-active {
  border: 2px solid #2e6da4;
}

pre.console {
  color: lime;
  background-color: #0f0f0f;
}

.table-condensed0 > tbody > tr > td {
  padding: 0;
}

.tableHover {
  background-color: #d1ecf1;
}

th {
  white-space: nowrap;
}

.bg-atacames {
  height: 100%;
  background: #635584 url("../images/atacames-sunset-4711.jpg") no-repeat center;
  background-size: cover;
}

.jumbotron {
  opacity: 0.8;
}

// Language switcher
.g11n-switcher {
  background-color: #313131;
  color: limegreen;
}
