{% block breadcrumbs %}
    <ol class="breadcrumb">
        {% for text, link in breadcrumbs %}
            <li class="breadcrumb-item">
                {% if link %}
                    <a href="{{ path(link) }}">{{ text }}</a>
                {% else %}
                    {{ text }}
                {% endif %}
            </li>
        {% endfor %}
    </ol>
{% endblock %}
