<!doctype html>
<html>
<head>
    <meta charset="UTF-8">
    <script>
        /* page counter */
        function subst() {
            var vars = {};
            var x = document.location.search.substring(1).split('&');
            for (var i in x) {
                var z = x[i].split('=', 2);
                vars[z[0]] = unescape(z[1]);
            }
            var x = ['topage', 'page'];
            for (var i in x) {
                var y = document.getElementsByClassName(x[i]);
                for (var j = 0; j < y.length; ++j) y[j].textContent = vars[x[i]];
            }
        }
    </script>
</head>

<body onload="subst()">

<table style="width: 100%;">
    <tr>
        <td style="width: 33%;">Impresio: {{ intlDate('now', "d 'de' MMMM 'del' YYYY") }}</td>
        <td style="width: 34%;" class="center">Pagina <span class="page"></span> de <span class="topage"></span></td>
        <td style="width: 33%;" class="right">&copy; {{ "now"|date("Y") }} MiniCC KuKu - Atacames</td>
    </tr>
</table>

</body>
</html>
