{% macro selectYear(selected = 0, name = 'year') %}
    <select class="form-control form-control-sm" name="{{ name }}" onchange="form.submit()">
        <option value="0">Año ...</option>
        {% for y in "now"|date("Y")..2005 %}
            <option{{ y == selected ? ' selected="selected"' : '' }}>{{ y }}</option>
        {% endfor %}
    </select>
{% endmacro %}
