<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <title>My PDF</title>
</head>
<body>
<header>
    <div style="text-align: right; padding: 15px">
        <img src="{{ rootPath ~ asset('/img/minicc-logo.gif') }}" alt="Logo"/>
    </div>
</header>
</body>
</html>
