<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <title>{% block title %}MiniCC KuKu{% endblock %}</title>

    <link rel="icon" type="image/x-icon" href="{{ asset('favicon.ico') }}"/>

    {{ encore_entry_link_tags('app') }}

    {% block stylesheets %}{% endblock %}

</head>
<body id="app-layout">

{% include('_menu.html.twig') %}

<div class="container" id="main-container">
    <noscript><h1 class="alert alert-danger">Please activate Javascript</h1></noscript>
    {% include ('_flash-messages.html.twig') %}
    {% block body %}{% endblock %}
</div>

{% include ('_footer.html.twig') %}

{{ encore_entry_script_tags('app') }}

{% block javascripts %}{% endblock %}

</body>
</html>
