<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <title>{% block title %}MiniCC KuKu{% endblock %}</title>

    <link rel="icon" type="image/x-icon" href="{{ asset('favicon.ico') }}"/>

     {% block stylesheets %}{% endblock %}
            {{ encore_entry_link_tags('app') }}
            {# {{ ux_controller_link_tags() }} #}
    {% block javascripts %}{% endblock %}
            {{ encore_entry_script_tags('app') }}

    {% if not app.user %}
        <script src="https://accounts.google.com/gsi/client" async defer></script>
    {% endif %}
</head>
<body id="app-layout">

{% include('_menu.html.twig') %}

<div class="container" id="main-container">
    <noscript><h1 class="alert alert-danger">Please activate Javascript</h1></noscript>
    {% include ('_flash-messages.html.twig') %}
    {% block body %}{% endblock %}
</div>

{% include ('_footer.html.twig') %}

</body>
</html>
