{% extends 'base.html.twig' %}

{% block body %}
    <h1>No hemos encontrado esta pagina...</h1>

    <p class="alert alert-warning">
        {{ exception.message }}
    </p>

    <code>Code: 404</code>
{% endblock %}
