{% extends 'base.html.twig' %}

{% block title %} {{ parent() }} - Cobrar alquileres{% endblock %}

{% block body %}
    <h1>Mail Planillas</h1>
    {% if stores is empty %}
        <div class="alert alert-danger">No stores defined</div>
    {% else %}
        <form method="post">

            {% include '_/_stores_table.html.twig' %}

            <button type="submit" class="btn btn-outline-success">Send mails</button>

        </form>
    {% endif %}
{% endblock %}
