{% extends 'base-pdf.html.twig' %}

{% block body %}
<div style="float: right">
    Fecha de impresion: {{ 'now'|date('d m Y') }}

</div>
<h2>Lista de Inquilinos</h2>
{% for user in users %}
    <table style="width: 100%">
        <tr>
            <td width="100">Local</td>
            <td>{% for store in user.stores %}{{ store.id }}&nbsp;{% endfor %}</td>
        </tr>
        <tr>
            <td>{{ 2 == user.gender.id ? 'Sra.' : 'Sr.' }}:</td>
            <td>
                {{ user.name }}
            </td>
        </tr>
        <tr>
            <td>RUC:</td>
            <td>{{ user.inqRuc ? user.inqRuc : user.inqCi ? user.inqCi : '?' }}</td>
        </tr>
    </table>
    <hr />

{% endfor %}

{% endblock %}
