{% extends 'base-pdf.html.twig' %}

    {% block stylesheets %}
        <style>
            .ruc {
                font-family: monospace;
                font-size: 1.6em;
            }

            td {
                border-bottom: 1px solid silver;
            }
        </style>
    {% endblock %}

{% block body %}
    <h2>Lista de Inquilinos</h2>

    <table style="width: 100%">
        <thead>
        <tr>
            <th>Local</th>
            <th>Inquilino</th>
            <th>RUC</th>
        </tr>
        </thead>
        <tbody>
        {% for user in users %}
            <tr>
                <th>
                    {% for store in user.stores %}{{ store.id }}&nbsp;{% endfor %}
                </th>
                <td>
                    {{ 2 == user.gender.id ? 'Sra.' : 'Sr.' }}
                    {{ user.name }}
                </td>
                <td class="ruc">{{ formatRUC(user) }}</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
{% endblock %}
