# This workflow uses actions that are not certified by GitHub.
# They are provided by a third-party and are governed by
# separate terms of service, privacy policy, and support
# documentation.

name: Symfony

on:
  push:
    branches: [ "master" ]
  pull_request:
    branches: [ "master" ]

permissions:
  contents: read

jobs:
  symfony-tests:
    runs-on: ubuntu-latest
    services:
        mysql:
            image: mysql:8.0
            env:
                MYSQL_ALLOW_EMPTY_PASSWORD: yes
                MYSQL_DATABASE: symfony_test
            ports:
                - 3306:3306
            options: --health-cmd="mysqladmin ping" --health-interval=10s --health-timeout=5s --health-retries=3

    steps:
    - uses: shivammathur/setup-php@v2
      with:
        php-version: '8.5'
        extensions: pdo_mysql
        tools: composer:v2

    - uses: actions/checkout@v4

    - name: Install Dependencies
      run: composer install --no-ansi --no-interaction --prefer-dist
    - name: Execute tests (Unit and Feature tests) via PHPUnit
      env:
        DATABASE_URL: mysql://root:@127.0.0.1:3306/symfony?serverVersion=8.0
      run: |
        bin/console doctrine:database:create --env=test --if-not-exists
        vendor/bin/phpunit --display-deprecations




